body{
    background-color: rgb(0, 100, 139);
}
.inputArea{
    background-color: white;
    margin: 20px 10px 20px 10px;
    border: none;
    border-radius: 10px;

}
.clothingStyle{
    margin: 5px;
}

.clothingcolor{
    margin: 5px; 
}

.size{
    margin: 5px;   
}

.clothingquantity{
    margin: 5px;
}

.submitButton{
    margin: 5px; 
}

.summaryTable{
    margin: 20px 10px 20px 10px;
    background-color: white;
    border: none;
    border-radius: 10px;   
}